<ion-header class="greenborderheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon class="warning" src="../../../assets/SVG/warning.svg"></ion-icon> -- Important --
        <ion-icon class="warning" src="../../../assets/SVG/warning.svg"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is your unique mnemonic phrase<span class="span-danger">(Aka your recovery pass phrase)</span>. If you
        lose it, you will not be able to recover your account. Please store it safely.</p>
      <ion-item>
        <ion-label position="stacked">Mnemonic Phrase:</ion-label>
        <ng-container *ngIf="showMnemonic; else hideMnemonic">
          <ion-textarea readonly>{{ mnemonicPhrase }}</ion-textarea>
        </ng-container>
        <ng-template #hideMnemonic>
          <ion-textarea readonly>{{ mnemonicPhraseMasked }}</ion-textarea>
        </ng-template>
        <ion-button fill="clear" slot="end" (click)="toggleShowMnemonic()">
          <ion-icon [src]="showMnemonic ? '/assets/SVG/eye-off.svg' : '/assets/SVG/eye.svg'"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon src="../../../assets/SVG/wallet-contact.svg"></ion-icon> Address contact wallet
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Here is you address of contact:</p>
      <ion-item>
        <ion-label position="stacked">Address of contact:</ion-label>
        <ng-container>
          <ion-textarea>XXXXXXXXXXXX</ion-textarea>
        </ng-container>

      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>