<ion-header class="greenborderheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/contacts-page"></ion-back-button>
    </ion-buttons>
    <ion-title>Add new contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="contact-area">
    <ion-item class="greenborder">
      <ion-label position="stacked">Contact Name :</ion-label>
      <ion-input type="text" [(ngModel)]="newContactName" placeholder="Name"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="stacked">Contact Address Wallet :</ion-label>
      <ion-input type="text" [(ngModel)]="newContactAddress" placeholder="Adress of contact"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating"><ion-icon src="../../../assets/SVG/bitcoin.svg"></ion-icon> Address Wallet
        :(optional)</ion-label>
      <ion-input type="text" [(ngModel)]="newContactBtcWallet"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating"><ion-icon src="../../../assets/SVG/ethereum.svg"></ion-icon> Address Wallet
        :(optional)</ion-label>
      <ion-input type="text" [(ngModel)]="newContactEthWallet"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating"><ion-icon src="../../../assets/SVG/tether.svg"></ion-icon> Address Wallet
        :(optional)</ion-label>
      <ion-input type="text" [(ngModel)]="newContactUsdtWallet"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating"><ion-icon src="../../../assets/SVG/binancecoin.svg"></ion-icon> Address Wallet
        :(optional)</ion-label>
      <ion-input type="text" [(ngModel)]="newContactBnbWallet"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating"><ion-icon src="../../../assets/SVG/solana.svg"></ion-icon> Address Wallet
        :(optional)</ion-label>
      <ion-input type="text" [(ngModel)]="newContactSolWallet"></ion-input>
    </ion-item>

    <ion-item class="greenborder">
      <ion-label position="floating">Note :</ion-label>
      <ion-input type="text" [(ngModel)]="newContactNote"></ion-input>
    </ion-item>

    <ion-button fill="outline" shape="round" class="add-contact" expand="block" (click)="addContact()">Add
      Contact</ion-button>
  </ion-list>
</ion-content>