<ion-header class="greenborderheader">
  <ion-toolbar>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Soon transaction from chat available...</ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
      <img   src="../../../assets/SVG/metamask.svg">
      <ion-text class="ion-text-center"><p>&</p>
      </ion-text>
      <img src="../../../assets/SVG/trustwallet.svg" alt="">

    </ion-card-content>
  </ion-card>
</ion-content>
