<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon src="../../../assets/SVG/warning.svg"></ion-icon> - Important - <ion-icon src="../../../assets/SVG/warning.svg"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is your unique mnemonic phrase. If you lose it, you will not be able to recover your account. Please store it safely.</p>
      <ion-item>
        <ion-label class="title-new" position="stacked">Mnemonic Phrase:</ion-label>
        <ng-container *ngIf="showMnemonic; else hideMnemonic">
          <ion-textarea readonly>{{ mnemonicPhrase }}</ion-textarea>
        </ng-container>
        <ng-template #hideMnemonic>
          <ion-textarea readonly>{{ mnemonicPhraseMasked }}</ion-textarea>
        </ng-template>
        <ion-button class="eye" fill="clear" slot="end" (click)="toggleShowMnemonic()">
          <ion-icon [src]="showMnemonic ? '/assets/SVG/eye-off.svg' : '/assets/SVG/eye.svg'"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-text color="danger">
        <p class="note">Note: The mnemonic phrase will be available in the profile info under settings.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-button shape="round" expand="block" class="understand-button"(click)="confirmAndProceed()">I understand</ion-button>
</ion-content>
