<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()" defaultHref="/contacts-page"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (contactName | titlecase) || "Unknown" }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="message-area" #messageArea>
    <ul>
      <div *ngFor="let message of messages; let i = index">
        <p class="time-message" *ngIf="showTimestamp(i)">----- {{ (message.timestamp | timestamp) }} -----</p>
        <li [class]="message.isSender ? 'right' : 'left'" #lastMessage>
          <p class="message">{{ message.content }}</p>
        </li>
      </div>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <div class="message-input">
    <textarea [(ngModel)]="newMessage" placeholder="Écrire un message..."></textarea>
    <button (click)="sendMessage()">Envoyer</button>
  </div>
</ion-footer>
