<ion-tab-bar slot="bottom" class="nav-tab-bar">
  <ion-tab-button [ngClass]="{ 'active-tab': (currentRoute$ | async) === '/home-connected' }" (click)="navigateTo('/home-connected')">
    <ion-icon src="/assets/SVG/home.svg"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button [ngClass]="{ 'active-tab': (currentRoute$ | async) === '/contacts-page' }" (click)="navigateTo('/contacts-page')">
    <ion-icon src="/assets/SVG/contact.svg"></ion-icon>
    <ion-label>Contact</ion-label>
  </ion-tab-button>
  <ion-tab-button [ngClass]="{ 'active-tab': (currentRoute$ | async) === '/talks-page' }" (click)="navigateTo('/talks-page')">
    <ion-icon src="/assets/SVG/chat.svg"></ion-icon>
    <ion-label>Chats</ion-label>
  </ion-tab-button>
  <ion-tab-button [ngClass]="{ 'active-tab': (currentRoute$ | async) === '/wallet-page' }" (click)="navigateTo('/wallet-page')">
    <ion-icon src="/assets/SVG/wallet.svg"></ion-icon>
    <ion-label>Wallet</ion-label>
  </ion-tab-button>
  <ion-tab-button [ngClass]="{ 'active-tab': (currentRoute$ | async) === '/settings-page' }" (click)="navigateTo('/settings-page')">
    <ion-icon src="/assets/SVG/settings2.svg"></ion-icon>
    <ion-label>Settings</ion-label>
  </ion-tab-button>
</ion-tab-bar>
