ion-tab-bar {
    height: 65px;
    background-color: color(srgb 0.051 0.051 0.051);
}

.hidden {

    display: none;
    z-index: -10000000;
}

.nav-tab-bar{
    border-top: 1px solid #28a745;
}

ion-tab-button{
    --color: #28a745; 
    margin-bottom: 18px;  
}


ion-tab-button:hover {
    --color-selected: ; 
}

ion-tab-button.active-tab {
   color: #00ff00
}