<nav class="navigation-menu">
    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/home-connected">
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
          <span>Home</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/contacts-page">
          <fa-icon [icon]="['fas', 'address-book']"></fa-icon>
          <span>Contacts</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/talks-page">
            <fa-icon [icon]="['fas', 'comments']"></fa-icon>
            <span>Talks</span>
          </a>
      </li>
      <li class="menu-item">
        <a routerLink="/wallet-page">
          <fa-icon [icon]="['fas', 'wallet']"></fa-icon>
          <span>Wallet</span>
        </a>
      </li>
      <li class="menu-item">
        <a routerLink="/settings-page">
            <fa-icon [icon]="['fas', 'cog']"></fa-icon>
            <span>Settings</span>
          </a>
      </li>
    </ul>
  </nav>
  
