<ion-app>
    <ion-router-outlet></ion-router-outlet>
    <pwa-install
    manifest-url="../manifest.webmanifest"
    install-description="Follow the instructions to install this application on your mobile"
    description="CrypTalk is a chat application that allows you to chat with your friends in a secure way, it use the protocol XMTP. This is a secure messaging protocol built on blockchain, utilizing encryption to safeguard the privacy and integrity of online communications."
    ></pwa-install>
   <ion-tabs>
    <app-navigation-menu [class.hidden]="!showNavigationMenu" ></app-navigation-menu>
   </ion-tabs> 
    
       <!--
   app-splash-screen></app-splash-screen>
   -->  
    

  </ion-app>
  