.greenborder {
    border-bottom: 1px solid #00ff0080;
  }

  .greenborderheader {
    border-bottom: 2px solid #00ff00;
  }
  
  ion-item.no-border {
    border-bottom: none;
  }

  ion-icon {
    color: #00ff00 ;
  }